PythonによるAPIを経由したe-Statからのデータダウンロード

（仕様）
https://www.e-stat.go.jp/api/api-info/e-stat-manual3-0#api_2_1

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import urllib
import json

from pandas_estat import set_appid
from pandas_estat import read_statslist
from pandas_estat import read_statsdata

In [2]:
appId = "fc2ff3fe1cae053a36e492cc55a6f6953089f602"
lfs = "00200531"
cpi = "00200573"

sna = "00100409"
wss = "00450091"

In [3]:
set_appid(appId)
lfs_list = pd.DataFrame(read_statslist(lfs))
display(lfs_list.columns)
lfs_list = lfs_list[['TABLE_INF','TITLE','CYCLE']].loc[lfs_list['CYCLE']=='月次']
lfs_list.to_csv("output/lfs_list.csv", encoding = 'utf-8')

Index(['TABLE_INF', 'STAT_CODE', 'STAT_NAME', 'GOV_ORG_CODE', 'GOV_ORG_NAME',
       'TABULATION_CATEGORY', 'TABULATION_SUB_CATEGORY1',
       'TABULATION_SUB_CATEGORY2', 'TABULATION_SUB_CATEGORY3',
       'TABULATION_SUB_CATEGORY4', 'TABULATION_SUB_CATEGORY5',
       'TABULATION_CATEGORY_EXPLANATION',
       'TABULATION_SUB_CATEGORY_EXPLANATION1',
       'TABULATION_SUB_CATEGORY_EXPLANATION2',
       'TABULATION_SUB_CATEGORY_EXPLANATION3',
       'TABULATION_SUB_CATEGORY_EXPLANATION4',
       'TABULATION_SUB_CATEGORY_EXPLANATION5', 'NO', 'TITLE',
       'TABLE_EXPLANATION', 'TABLE_CATEGORY', 'TABLE_SUB_CATEGORY1',
       'TABLE_SUB_CATEGORY2', 'TABLE_SUB_CATEGORY3', 'CYCLE', 'SURVEY_DATE',
       'OPEN_DATE', 'SMALL_AREA', 'COLLECT_AREA', 'OVERALL_TOTAL_NUMBER',
       'UPDATED_DATE', 'MAIN_CATEGORY_CODE', 'MAIN_CATEGORY',
       'SUB_CATEGORY_CODE', 'SUB_CATEGORY'],
      dtype='object')

In [4]:
lfs_list

      TABLE_INF                                              TITLE CYCLE
327  0003005798                             就業状態別15歳以上人口（2000年1月～）    月次
328  0002060001                     農林業・非農林業，従業上の地位別就業者数（1985年1月～）    月次
329  0003005799                      農林業・非農林業，従業者規模別雇用者数（2000年1月～）    月次
330  0003074673                       農林業・非農林業，雇用形態別雇用者数（2013年1月～）    月次
331  0003005865                       労働力人口比率，就業率及び完全失業率（2000年1月～）    月次
..          ...                                                ...   ...
435  0003006337       農林業・非農林業，年齢階級，月末1週間の就業時間(9区分)別就業者数（2000年1月～）    月次
436  0003008649          農林業・非農林業，年齢階級別平均週間就業時間及び延週間就業時間（2000年1月～）    月次
437  0002060015              求職理由，探している仕事の主従，年齢階級別完全失業者数（1985年1月～）    月次
438  0003005918    求職理由，探している仕事の主従，世帯主との続き柄，世帯の種類別完全失業者数（2000年1月～）    月次
439  0003005698  農林業・非農林業，従業上の地位，月末1週間の就業時間別従業者数（2000年10月～2012年...    月次

[113 rows x 3 columns]

In [5]:
pp = read_statsdata(lfs_list['TABLE_INF'][327]) 
pp['Date'] = pd.to_datetime(pp['時間軸（月次）'], format='%Y年%m月')
pp.set_index('Date', inplace=True)
pp = pp.loc[pp['性別']=='総数']
pp = pp[['就業状態','value']]
pp = pp.pivot(columns='就業状態', values='value')
display(pp)
pp.to_csv("output/pp_data.csv")

就業状態       15歳以上人口 労働力人口 完全失業者   就業者 非労働力人口
Date
2000-01-01   10815  6664   309  6355   4137
2000-02-01   10818  6638   327  6311   4168
2000-03-01   10820  6694   349  6345   4113
2000-04-01   10815  6786   346  6440   4021
2000-05-01   10829  6831   328  6503   3984
...            ...   ...   ...   ...    ...
2022-09-01   11033  6953   187  6766   4071
2022-10-01   11037  6933   178  6755   4095
2022-11-01   11037  6889   165  6724   4139
2022-12-01   11032  6875   158  6716   4150
2023-01-01   11022  6854   164  6689   4161

[277 rows x 5 columns]

In [6]:
ppa = read_statsdata('0003005829') 
#pp['Date'] = pd.to_datetime(pp['時間軸（月次）'], format='%Y年%m月')
#pp.set_index('Date', inplace=True)
#pp = pp.loc[pp['性別']=='総数']
#pp = pp[['就業状態','value']]
#pp = pp.pivot(columns='就業状態', values='value')
display(ppa)
#pp.to_csv("output/pp_data.csv")

      tab_code    表章項目 cat01_code   産業  ...   時間軸（月次） unit  value annotation
0           01  実数(人口)        000  全産業  ...   2006年1月   万人  11013        NaN
1           01  実数(人口)        000  全産業  ...   2006年2月   万人  11006        NaN
2           01  実数(人口)        000  全産業  ...   2006年3月   万人  11021        NaN
3           01  実数(人口)        000  全産業  ...   2006年4月   万人  11002        NaN
4           01  実数(人口)        000  全産業  ...   2006年5月   万人  11015        NaN
...        ...     ...        ...  ...  ...       ...  ...    ...        ...
99995       01  実数(人口)        000  全産業  ...   2009年7月   万人    237        NaN
99996       01  実数(人口)        000  全産業  ...   2009年8月   万人    229        NaN
99997       01  実数(人口)        000  全産業  ...   2009年9月   万人    231        NaN
99998       01  実数(人口)        000  全産業  ...  2009年10月   万人    232        NaN
99999       01  実数(人口)        000  全産業  ...  2009年11月   万人    227        NaN

[100000 rows x 19 columns]

In [7]:
set_appid(appId)
cpi_list = read_statslist(cpi)
display(cpi_list.columns)
cpi_list = cpi_list[['TABLE_INF','TITLE','CYCLE']] #.loc[lfs_list['CYCLE']=='月次']
#lfs_list.to_csv("output/lfs_list.csv", encoding = 'utf-8')

Index(['TABLE_INF', 'STAT_CODE', 'STAT_NAME', 'GOV_ORG_CODE', 'GOV_ORG_NAME',
       'TABULATION_CATEGORY', 'TABULATION_SUB_CATEGORY1',
       'TABULATION_SUB_CATEGORY2', 'TABULATION_SUB_CATEGORY3',
       'TABULATION_SUB_CATEGORY4', 'TABULATION_SUB_CATEGORY5',
       'TABULATION_CATEGORY_EXPLANATION',
       'TABULATION_SUB_CATEGORY_EXPLANATION1',
       'TABULATION_SUB_CATEGORY_EXPLANATION2',
       'TABULATION_SUB_CATEGORY_EXPLANATION3',
       'TABULATION_SUB_CATEGORY_EXPLANATION4',
       'TABULATION_SUB_CATEGORY_EXPLANATION5', 'NO', 'TITLE',
       'TABLE_EXPLANATION', 'TABLE_CATEGORY', 'TABLE_SUB_CATEGORY1',
       'TABLE_SUB_CATEGORY2', 'TABLE_SUB_CATEGORY3', 'CYCLE', 'SURVEY_DATE',
       'OPEN_DATE', 'SMALL_AREA', 'COLLECT_AREA', 'OVERALL_TOTAL_NUMBER',
       'UPDATED_DATE', 'MAIN_CATEGORY_CODE', 'MAIN_CATEGORY',
       'SUB_CATEGORY_CODE', 'SUB_CATEGORY'],
      dtype='object')

In [8]:
cpi_list

    TABLE_INF             TITLE CYCLE
0  0002050001  消費者物価指数（平成17年基準）     -
1  0003036792  消費者物価指数（平成22年基準）     -
2  0003143513  消費者物価指数（2015年基準）     -
3  0003427113  消費者物価指数（2020年基準）     -

In [9]:
cpi = read_statsdata(cpi_list['TABLE_INF'][3])
cpi = cpi.drop(cpi[cpi['time_code'].astype(str).str[-2:]=='00'].index)
cpi['Date'] = pd.to_datetime(cpi['時間軸（年・月）'], format='%Y年%m月')
cpi.set_index('Date', inplace=True)
cpi = cpi.loc[cpi['地域（2020年基準）']=='全国']
cpi = cpi[['2020年基準品目','value']]
cpi = cpi.pivot(columns='2020年基準品目', values='value')
display(cpi)
cpi.to_csv("output/cpi_data.csv")

2020年基準品目  0001 総合 0002 食料 0003 穀類
Date
1970-01-01    30.3    28.2    32.9
1970-02-01    30.3    28.4      33
1970-03-01    30.6    28.8      33
1970-04-01    30.9      29    33.1
1970-05-01    30.8    28.5    33.2
...            ...     ...     ...
2022-09-01   103.1   105.6   105.8
2022-10-01   103.7   107.1   106.9
2022-11-01   103.9   107.8   107.3
2022-12-01   104.1   107.9   107.3
2023-01-01   104.7   109.5   107.5

[637 rows x 3 columns]