In [15]:
#from google.colab import drive
#drive.mount('/content/drive')

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
df = pd.read_csv("ippan_shugyou/ippan_2012shugyou_dataset.csv", encoding = "shift-jis")
display(df)

/var/mobile/Containers/Data/Application/A512DBDF-F9ED-4153-8E71-E7AFED6E7009/Library/Application Support/com.rationalmatter.junoapp/python-home/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3175: DtypeWarning: Columns (21,22,23,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DataSource,Year,Prefecture,City,Urban,Gender,Age,WorkStatus,WorkEmploy,WorkRegular,...,T_Age,T_WorkStatus,T_WorkEmploy,T_WorkRegular,T_WorkIndustry,T_NoworkWish,T_NoworkApply,T_NoworkAge,T_NoworkMarriage,Weight
0,PUM_ESS,2012,1,100.0,1.0,1,200,1,7.0,44.0,...,15〜19歳,有業者,雇用者,非正規の職員・従業員,建設業,NaN,NaN,NaN,NaN,486.842105
1,PUM_ESS,2012,1,100.0,1.0,1,200,1,7.0,44.0,...,15〜19歳,有業者,雇用者,非正規の職員・従業員,製造業,NaN,NaN,NaN,NaN,486.842105
2,PUM_ESS,2012,1,100.0,1.0,1,200,1,7.0,44.0,...,15〜19歳,有業者,雇用者,非正規の職員・従業員,卸売業，小売業,NaN,NaN,NaN,NaN,486.842105
3,PUM_ESS,2012,1,100.0,1.0,1,200,1,7.0,44.0,...,15〜19歳,有業者,雇用者,非正規の職員・従業員,卸売業，小売業,NaN,NaN,NaN,NaN,486.842105
4,PUM_ESS,2012,1,100.0,1.0,1,200,1,7.0,44.0,...,15〜19歳,有業者,雇用者,非正規の職員・従業員,卸売業，小売業,NaN,NaN,NaN,NaN,486.842105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221625,PUM_ESS,2012,47,NaN,NaN,2,301,11,NaN,NaN,...,75歳以上,無業者,NaN,NaN,NaN,非就業希望者,NaN,85歳以上,死別・離別,530.188679
221626,PUM_ESS,2012,47,NaN,NaN,2,301,11,NaN,NaN,...,75歳以上,無業者,NaN,NaN,NaN,非就業希望者,NaN,85歳以上,死別・離別,530.188679
221627,PUM_ESS,2012,47,NaN,NaN,2,301,11,NaN,NaN,...,75歳以上,無業者,NaN,NaN,NaN,非就業希望者,NaN,85歳以上,死別・離別,530.188679
221628,PUM_ESS,2012,47,NaN,NaN,2,301,11,NaN,NaN,...,75歳以上,無業者,NaN,NaN,NaN,非就業希望者,NaN,85歳以上,死別・離別,530.188679
221629,PUM_ESS,2012,47,NaN,NaN,2,301,11,NaN,NaN,...,75歳以上,無業者,NaN,NaN,NaN,非就業希望者,NaN,85歳以上,NaN,530.188679

In [17]:
df["T_WorkEmploy"].unique()

array(['雇用者', nan], dtype=object)

In [18]:
df = df[df["T_WorkStatus"] == "有業者"]
pd.crosstab([df["Gender"], df["T_Age"]], df["T_WorkEmploy"], margins = True)

T_WorkEmploy      雇用者     All
Gender T_Age
1      15〜19歳     940     940
       20〜24歳    4017    4017
       25〜29歳    6109    6109
       30〜34歳    6848    6848
       35〜39歳    8171    8171
       40〜44歳    8037    8037
       45〜49歳    6844    6844
       50〜54歳    6230    6230
       55〜59歳    6031    6031
       60〜64歳    5646    5646
       65〜69歳    2651    2651
       70〜74歳    1250    1250
       75歳以上      748     748
2      15〜19歳     999     999
       20〜24歳    4067    4067
       25〜29歳    5090    5090
       30〜34歳    5091    5091
       35〜39歳    5891    5891
       40〜44歳    6172    6172
       45〜49歳    5694    5694
       50〜54歳    5155    5155
       55〜59歳    4629    4629
       60〜64歳    4099    4099
       65〜69歳    1868    1868
       70〜74歳     862     862
       75歳以上      534     534
All            113673  113673

In [19]:
df[["NDI", "C"]].corr()

KeyError: "None of [Index(['NDI', 'C'], dtype='object')] are in the [columns]"